.whiteboard-cont {
  margin: 0 auto;
  overflow: hidden;
  width: 70%;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top .35s cubic-bezier(0.4,0,0.2,1),left .35s cubic-bezier(0.4,0,0.2,1),right .35s cubic-bezier(0.4,0,0.2,1),bottom .35s cubic-bezier(0.4,0,0.2,1),width .35s cubic-bezier(0.4,0,0.2,1),height .35s cubic-bezier(0.4,0,0.2,1),background .35s cubic-bezier(0.4,0,0.2,1);
  border: ridge 2px gray;
  z-index: 2;
  position: absolute;
  inset: 70px 0 80px;
}


.whiteboard-cont--expanded {
  inset: 70px 320px 80px 20px;
}

canvas {
  background-color: white;
}

.color1a1110{
  cursor: url("./img/black.png") 7 7, auto;
}

.colore32636{
  cursor: url("./img/red.png") 7 7, auto;
}

.colorffdf00{
  cursor: url("./img/yellow.png") 7 7, auto;
}

.colorff9f00{
  cursor: url("./img/orange.png") 7 7, auto;
}

.colorbf00ff{
  cursor: url("./img/purple.png") 7 7, auto;
}

.color0bda51{
  cursor: url("./img/green.png") 7 7, auto;
}

.color0892d0{
  cursor: url("./img/blue.png") 7 7, auto;
}

.colorff66cc{
  cursor: url("./img/pink.png") 7 7, auto;
}

.colorcd7f32{
  cursor: url("./img/brown.png") 7 7, auto;
}

.colorb2beb5{
  cursor: url("./img/grey.png") 7 7, auto;
}

.eraser {
  cursor: url("./img/eraser.png") 7 7, auto;
}

.rectangle, .triangle {
  cursor: crosshair;
}

.text {
  cursor: text;
}
